<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Cody</title>
    <meta content="Web app, mobile  app" name="I am a developer">
    <meta content="designs, web application, mobile application, business" name="roles">

    <!-- Favicons -->
    <link href="~/Bootslander/assets/img/favicon.png" rel="icon">
    <link href="~/Bootslander/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Bootslander/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootslander/assets/vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="~/Bootslander/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Bootslander/assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="~/Bootslander/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Bootslander/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Bootslander/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Bootslander/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bootslander - v2.3.0
    * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html"><span>Build web, mobile app </span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    @* <li class="drop-down"> *@
                    @*     <a href="">Drop Down</a> *@
                    @*     <ul> *@
                    @*         <li><a href="#">Drop Down 1</a></li> *@
                    @*         <li class="drop-down"> *@
                    @*             <a href="#">Drop Down 2</a> *@
                    @*             <ul> *@
                    @*                 <li><a href="#">Deep Drop Down 1</a></li> *@
                    @*                 <li><a href="#">Deep Drop Down 2</a></li> *@
                    @*                 <li><a href="#">Deep Drop Down 3</a></li> *@
                    @*                 <li><a href="#">Deep Drop Down 4</a></li> *@
                    @*                 <li><a href="#">Deep Drop Down 5</a></li> *@
                    @*             </ul> *@
                    @*         </li> *@
                    @*         <li><a href="#">Drop Down 3</a></li> *@
                    @*         <li><a href="#">Drop Down 4</a></li> *@
                    @*         <li><a href="#">Drop Down 5</a></li> *@
                    @*     </ul> *@
                    @* </li> *@
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    @RenderBody();
<!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>Cody</h3>
                            <p class="pb-3"><em> Help you also help us. Let's grow together</em></p>
                            <p>
                                Online <br>
                                Anywhere In USA<br><br>
                                <strong>Phone:</strong> +1 980 228 0423 (text me only)<br>
                                <strong>Email:</strong> hke_gxt@yahoo.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About me</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web App</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Mobile App</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Bootslander/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Bootslander/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Bootslander/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Bootslander/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Bootslander/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Bootslander/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Bootslander/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Bootslander/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Bootslander/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Bootslander/assets/js/main.js"></script>

</body>

</html>